@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,700');

/** General **/
body {
    background:#f2f2f2;
    font-family: 'Fira Sans', sans-serif;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/** Top Header **/

.top-header {
  height: 110px;
  background: #fff;
  color: #333;
}
.top-header-text {
  padding-left: 145px;
  margin-top: 40px;
  display: inline-block;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.navbar-brand > img {
  float: left;
  display: inline-block;
  height: 140px;
  position: absolute;
  z-index: 9999;
  top: 10px;
}

/** Navigation **/
.navbar {
  position: relative;
  min-height: 45px;
  background: #fff;
  color: #333;
  border: none;
  border-radius: 0px;
  border-top: 1px solid #ccc;
}
.navbar-brand {
    float: left;
    height: 71px;
    padding: 10px 15px 8px;
    font-size: 18px;
    line-height: 20px;
}
.navbar-nav {
  float: left;
  margin-left: 133px;
}
.navbar-default .navbar-nav > li > a {
  color:#333;
  text-transform: uppercase;
  padding: 10px 20px;
}

/** Loading Spinner **/
.loader,
.loader:before,
.loader:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader {
  color: #ffffff;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

/** HOME PAGE **/
.main-news {
  margin-bottom:30px;
}
.main-news img {
  max-width:100%;
  overflow: hidden;
  -moz-transition: all 5.3s;
  -webkit-transition: all 5.3s;
  transition: all 5.3s;    
}
.main-news-image {
  height:600px;
  width:100%;
  overflow: hidden;
  position: relative;
}
.main-news img:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);

}
.news-main {
  position:relative;
}
.news-main-titlearea {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background: #333;
  opacity: 0.8;
  padding: 20px 50px;
  color: #fff;
}
.news-main-caption .title {
  color:#fff;
}
.news-main-title {
  font-size: 24px;
  margin-bottom: 7px;
}
.news-main-caption {
  font-size: 14px;
  opacity: 0.9;
}
.news-secondary-image {
  position: relative;
  height:200px;
  overflow: hidden;
}
.news-secondary img {
  max-width:100%;
  max-width: 100%;
  -moz-transition: all 3.3s;
  -webkit-transition: all 3.3s;
  transition: all 3.3s;  
}
.news-secondary img:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.news-secondary-title {
  color:#333;
  font-weight: bold;
  font-size:16px;
  margin-bottom:7px;
  margin-top:7px;
}
.news-secondary-caption {
  color:#333;
}