<div class="row">
	<div class="col-xs-12">
		<img ng-src="{{player.playerimage}}" style="height:300px; width:300px;"/>
		<div>Name: {{player.firstname}} {{player.secondname}}</div>
		<div>Number: {{player.number}}</div>
		<div>Position: {{player.position}}</div>
		<div>Date of Birth: {{player.dob}}</div>
		<div>Bio: {{player.bio}}</div>
		<div>Apps: {{player.apps}}</div>
		<div>Goals: {{player.goals}}</div>
		<div>Assists: {{player.assists}}</div>
		<div>Minutes: {{player.minutes}}</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<a href="#/home">Return</a>
	</div>
</div>