<div class="top-header">
  <div class="container">
    <div class="top-header-image">
      <a class="navbar-brand" ng-href="#/home"><img src="img/cartertonrangers.png" alt="Carterton Rangers"></a>
      <span class="top-header-text">Carterton Rangers</span>
    </div>      
  </div>  
</div>  
<nav class="navbar navbar-default">
  <div class="container">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a ng-href="#/login" ng-hide="currentUser">Login</a></li>
          <li><a ng-href="#/register" ng-hide="currentUser">Register</a></li>
          <li class="dropdown" ng-show="currentUser">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a ng-href="#/admin">Manage Players</a></li>
              <li><a ng-href="#/results">Add Result</a></li>
              <li><a ng-href="#/editResults">Edit Result</a></li>
              <li><a ng-href="#/manageTeams">Manage Teams</a></li>
              <li><a ng-href="#/otherResults">Other Results</a></li>
            </ul>
          </li>        
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </div>
</nav>