<form class="form-horizontal" name="myForm" ng-submit="addTeam()" novalidate>
	<div class="input-group">
		<input id="name" placeholder="name" type="text" ng-model="name" class="form-control" ng-required="true">
		<input id="points" placeholder="points" type="number" ng-model="points" class="form-control" ng-required="true">
		<input id="goalsfor" placeholder="goals for" type="number" ng-model="goalsfor" class="form-control" ng-required="true">
		<input id="goalsagainst" placeholder="goals against" type="number" ng-model="goalsagainst" class="form-control" ng-required="true">	
		<select id="league" ng-model="league" class="form-control" ng-required="true" placeholder="league">
			<option value="Premier League">Premier League</option>
			<option value="Divison 1">Division 1</option>
			<option value="Divison 2">Divison 2</option>
			<option value="Divison 3">Divison 3</option>
			<option value="Divison 4">Divison 4</option>			
		</select>		
		<div class="input-group-btn">
	  		<button type="submit" class="btn btn-default" ng-disabled="myForm.$invalid">Add Team</button>
		</div>		
	</div> 
</form>